<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="kirp" connectionString="Server=vm-as35;Database=employeestest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localsql2014" connectionString="Server=DESKTOP-RE0AOSG;Database=TPDB3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CafeGuide.Properties.Settings.DatabaseConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb"
      providerName="System.Data.OleDb" />
    <add name="CafeGuide.Properties.Settings.TestDB1ConnectionString"
      connectionString="Data Source=DESKTOP-RE0AOSG;Initial Catalog=TestDB1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>